body {
  font-family: Roboto;
}

#art {
  display: table;
  border-spacing: 1px;
  background: black;
  border: 2.5px solid black;
}

.row {
  display: table-row;
}

.pixel {
  display: table-cell;
  background: white;
  width: 25px;
  height: 25px;
  cursor: crosshair;
}

.pen {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid black;
  cursor: pointer;
}

#downloadbtn {
  font-size: 100%;
  cursor: pointer;
}

#gridlinesenable {
  font-size: 100%;
  cursor: pointer;
}

#gridlinesdisable {
  font-size: 100%;
  cursor: pointer;
}

#borderdisable {
  font-size: 100%;
  cursor: pointer;
}

#borderenable {
  font-size: 100%;
  cursor: pointer;
}
