body {
  font-family: Roboto;
}

#art {
  display: table;
  border-spacing: 1px;
  background: black;
  border: 2.5px solid black;
}

.row {
  display: table-row;
}

.pixel {
  display: table-cell;
  background: white;
  width: 25px;
  height: 25px;
  cursor: crosshair;
}

#resetbtn {
  background: tomato;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

#gridtoggle {
  background: limegreen;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

#bordertoggle {
  background: limegreen;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

#downloadbtn {
  background: dodgerblue;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}
